<div class="hero-background" id="top">
  <div class="logo">
    <%= link_to image_tag("icons/personal_logo.png"), projects_path %>
  </div>
  <nav>
    <div class="nav-item"><a href="#portfolio">Portfolio</a></div>
    <div class="nav-item"><a href="#">About Me</a></div>
  </nav>

  <div class="hero-title">
    <h1>
      <div class="first-name text-lowercase"><em>Caitlin</em></div>
      <div class="last-name text-uppercase">Daitch</div>
    </h1>
  </div>

  <div class="personal-statement">
    <strong>Web developer</strong> who harnesses <strong>creativity</strong> to make the ordinary extraordinary.
  </div>

  <div class="down-arrow">
    <a href="#quotes"><%= image_tag("down-arrow", :class => "arrow-size") %></a>
  </div>
</div>

<!-- Beginning of the quotes section -->

<div class="container quotes" id="quotes">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
          <li data-target="#quote-carousel" data-slide-to="3"></li>
          <li data-target="#quote-carousel" data-slide-to="4"></li>
        </ol>

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">

          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p class="quote-inner">"Always code as if the person who ends up maintaining your code is a violent psychopath who knows where you live"</p>
                  <small>Ward Cunningham</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p class="quote-inner">"If you're ever sad, just remember the solar system is 4.543 billion years old and you somehow managed to exist at the same time as David Bowie."</p>
                  <small><a href="https://twitter.com/jesuisdean">Dean Podestá</a></small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p class="quote-inner">A SQL query goes into a bar, walks up to two tables and asks, "Can I join you?"</p>
                  <small>Anonymous Stack Overflow User</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 4 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p class="quote-inner">A programmer puts two glasses on his bedside table before going to sleep. A full one, in case he gets thirsty, and an empty one, in case he doesn’t.</p>
                  <small><a href="https://www.apico.net/blog/what-i-learned-about-programmers-reading-200-programming-jokes-part-1.html">Anna Sopova</a></small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 5 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-12">
                  <p class="quote-inner">"How did you find America? Turned left at Greenland."</p>
                  <small>John Lennon, "A Hard Day's Night"</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        <a class="carousel-control left" data-target="#quote-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" data-target="#quote-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Beginning of the portfolio section -->

<section id="portfolio" class="portfolio">
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("autoPilot.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("barInMind.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("fontConcentration.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("FEWD.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("CaswellDaitch.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("Artwork.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("PersonalLogo.png", :class => "portfolio-image") %></a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="image-container">
      <a href="#portfolio"><%= image_tag("DigitalDesign.png", :class => "portfolio-image") %></a>
    </div>
  </div>
</section>

<!-- Beginning of Footer -->

<div class="footer">
  <%= link_to image_tag("social-media-icons/github.png", :class => "social-media"), projects_path %>
  <%= link_to image_tag("social-media-icons/linkedin.png", :class => "social-media"), projects_path %>
  <%= link_to image_tag("social-media-icons/twitter.png", :class => "social-media"), projects_path %>
  <%= link_to image_tag("social-media-icons/instagram.png", :class => "social-media"), projects_path %>
  <%= link_to image_tag("social-media-icons/email.png", :class => "social-media"), projects_path %>
  <div class="disclaimer">
    This portfolio a Ruby on Rails application that leverages HTML/CSS, Sass, Bootstrap, JavaScript and jQuery. Made by Caitlin Daitch, for Caitlin Daitch. Because...duh.
  </div>
  <div class="up">
    <a href="#top"><%= image_tag("up-arrow", :class => "up-arrow") %></a>
  </div>
</div>
