<header>
  <nav>
    <div class="nav-item"><a href="#portfolio" class="z-depth-1">Portfolio</a></div>
    <div class="nav-item"><a href="#about" class="z-depth-1">About Me</a></div>
  </nav>
  <h1>
    <div class="first-name">Caitlin</div>
    <div class="last-name">Daitch</div>
  </h1>
  <div class="description">
    Front-End Developer at <a href="http://www.fundrise.com">Fundrise</a>. Design nerd. New Wave Enthusiast.
  </div>
</header>
<container>
  <div class="section-header" id="portfolio">
    <h2>Portfolio</h2>
  </div>
  <div class="row">
    <div id="portfolio" class="row">
      <% @projects.each do |project| %>
        <div class="col m2 s12">
          <div class="image-container">
            <%= link_to image_tag(project.thumbnail, :class => "thumbnail"), project_path(project) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</container>

<container>
  <div class="section-header" id="about">
    <h2>About Caitlin</h2>
  </div>
  <div class="row">
    <div class="col m3 s12">
      <%= image_tag("caitlin_fundrise.jpg", :class => "headshot") %>
    </div>
    <div class="col m9 s12 about-description">
      <p>I have been interested in programming and design since middle school when I spent my free time building websites for fun. Years later, I hit the jackpot when I was offered a position as a Digital Producer for a web development agency in Washington, DC. Working as a project manager for all things digital ultimately solidified my passion for web development. I fell in love with programming after taking a part-time Front End Web Development course, and soon after decided to enroll in General Assembly's full-time immersive course. It has been true love ever since.</p>
      <p>These are a few of my favorite things:</p>
      <div class="skills">
        <%= image_tag("icons/javascript.jpg", :class =>"icon", :alt =>"JavaScript") %>
        <%= image_tag("icons/css3.png", :class =>"icon", :alt =>"CSS") %>
        <%= image_tag("icons/sass.png", :class =>"icon", :alt =>"Sass") %>
        <%= image_tag("icons/html5.png", :class =>"icon", :alt =>"HTML") %>
        <%= image_tag("icons/angular.png", :class =>"icon", :alt =>"AngularJS") %>
        <%= image_tag("icons/ruby.png", :class =>"icon", :alt =>"Ruby") %>
        <%= image_tag("icons/rails.png", :class =>"icon", :alt =>"Rails") %>
        <%= image_tag("icons/node.jpg", :class =>"icon", :alt =>"Node.js") %>
        <%= image_tag("icons/mongo.png", :class =>"icon", :alt =>"MongoDB") %>
        <%= image_tag("icons/git.png", :class =>"icon", :alt =>"Git") %>
        <%= image_tag("icons/photoshop.svg", :class =>"icon", :alt =>"Photoshop") %>
      </div>
    </div>
  </div>
</container>
